/* Estilos para o cabeçalho */
header {
    position: absolute;
    width: 98.2%;
    top: 0;
    color: #ffffff;
    font-family: "Gill Sans", sans-serif;
}

header h1 {
    font-size: 4vh;
    align-items: center;
    display: flex;
}

header,
nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header ul button {
    text-decoration: none;
    font-size: 2vh;
    color: #1c4e8a;
    background-color: #ffffff;
    width: 15vh;
    height: 5vh;
    border-radius: 10vh;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
}

header ul button:hover {
    color: #000000;
}

/* Ajuste da estrutura da página */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: #43B0DF;
    margin: 0;
    padding: 0;
}

/* Container principal que centraliza o conteúdo */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Faz o contêiner ocupar a tela inteira */
}

/* Ajuste do título "Jogo da Memória" */
#texto {
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 50px; /* Espaçamento entre o título e os botões */
    text-align: center;
    font-weight: bold;
}

/* Container para centralizar os botões */
.nivel-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Estilos dos botões de nível */
.nivel-btn {
    font-size: 2em;
    color: #ffffff;
    background-color: #1c4e8a;
    padding: 15px 40px;
    border: 2px solid transparent;
    border-radius: 50px;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* Estilo hover dos botões */
.nivel-btn:hover {
    background-color: #ffffff;
    color: #1c4e8a;
    border: 2px solid #1c4e8a;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
}

/* Título */
body>h1 {
    display: flex;
    color: #ffffff;
    width: 110%;
    font-size: 300%;
}
